.checklist {
  padding: 4px;
  background-color: rgb(131, 198, 233);
  border-radius: 6px;
  margin-bottom: 1rem;

  // Change this to `&:hover` to ease debugging
  &.alldone {
    background: linear-gradient(
      var(--angle),
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );

    animation: 1s rotate linear 0s 2;
  }

  table {
    tbody th {
      text-align: right;
      font-weight: 400;
    }

    tbody td {
      text-align: left;
      vertical-align: middle;
    }

    input {
      margin: 4px 12px 4px 4px;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes rotate {
  to {
    --angle: 450deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}