.checklist {
  padding: 4px;
  background-color: rgb(131, 198, 233);
  border-radius: 6px;
  margin-bottom: 1rem;

  table {
    tbody th {
      text-align: right;
      font-weight: 400;
    }

    tbody td {
      text-align: left;
      vertical-align: middle;
    }

    input {
      margin: 4px 12px 4px 4px;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
