// Styling for generic Markdown. I want Markdown-derived HTML to look reasonable
// without any extra futzing or applying CSS classes, so these rules try to set
// up a nice, coherent appearance that will work well in a variety of contexts.

.content {
  p {
    // Note use of "em", not "rem", units here.
    margin: 0.3em 0 1em 0;
  }

  img {
    max-width: 100%;
  }

  li {
    margin: 0.3rem 0;
  }

  pre {
    font-size: 70%;
    padding: 0.2rem;
  }

  blockquote {
    font-size: 85%;
    font-family: "serif";
    line-height: 1.2;
  }

  hr {
    margin: 1rem 2rem;
  }

  // It's most convenient to save <h1> for major content sections since
  // that's what you get from a Markdown `# Blah`; so use a class for
  // the page title (as distinguished from the nav header title).
  .title {
    font-size: 220%;
    font-weight: bold;
    margin: 1rem 0 1rem 0;
  }

  h1 {
    font-size: 150%;
    margin: 3rem 0 0.6rem 0;
  }

  h2 {
    // Looks like we need to manually specify these font sizes to cascade down
    // relative to h1.
    font-size: 110%;
    margin: 1.2rem 0 1rem 0;
  }

  h3, h4, h5, h6 {
    // Todo: use techniques other than font-sizing to distinguish h4 and below
    // from h3.
    font-size: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  // We configure Zola to insert anchor links for headers in the Markdown.
  // These show up as `a.zola-anchor` tags inside the <hN> tag to the left
  // of the header text.

  a.zola-anchor {
    visibility: hidden;
    text-decoration: none;
    font-size: 80%;
    margin-left: 0.2em; // note: intentionally `em` here
  }

  h1:hover a.zola-anchor,
  h2:hover a.zola-anchor,
  h3:hover a.zola-anchor,
  h4:hover a.zola-anchor,
  h5:hover a.zola-anchor,
  h6:hover a.zola-anchor {
    visibility: visible;
  }
}
