@charset "utf-8";
@import "normalize";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Parameters of the layout. In `typography` we set 1 rem = 18 px.

$card-background-color: #f7e4d8;
$card-highlight-color: #55d41b;
$card-button-color: #245c2f;
$card-button-link-color: #ebebeb;
$card-button-link-hover-color: #ffffff;

@import "typography";
@import "content";
@import "layout";
@import "chrome";
@import "components";
@import "checklist";
