{%- import "_macros.html" as macros -%}
<!DOCTYPE html>
<html lang="en">

{% if page.extra.section %}
{% set bannersuffix = ": " ~ page.extra.section %}
{% set qualtitle = "One Good Tutorial: " ~ page.extra.section ~ ": " ~ page.title %}
{% elif page.title %}
{% set bannersuffix = ": " ~ page.title %}
{% set qualtitle = "One Good Tutorial: " ~ page.title %}
{% else %}
{% set bannersuffix = "" %}
{% set qualtitle = "One Good Tutorial" %}
{% endif %}

{% if section.description %}
{% set description = section.description %}
{% elif page.description %}
{% set description = page.description %}
{% else %}
{{ throw(message="description needed for OpenGraph") }}
{% endif %}

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{{ qualtitle }}</title>
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="One Good Tutorial" />
  <meta property="og:title" content="{{ qualtitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ current_url | safe }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta name="author" content="Peter K. G. Williams">

  <link rel="stylesheet" href='{{ get_url(path="style.css") | safe }}'>
  <link rel="icon" href='{{ get_url(path="/favicon.ico") | safe }}'>
  <link href="https://fonts.googleapis.com/css?family=Bitter|Noto+Serif|Noto+Sans" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% block head %}
{% endblock head %}
</head>

<body>
  <header>
    <div class="maxwidth">
      <p id="banner"><img class="logo" src="{{ get_url(path="/logo128.png") | safe }}"><a href="{{ get_url(path="", trailing_slash=true) | safe }}">One Good Tutorial</a>{{ bannersuffix }}</p>
    </div>
  </header>

  <!--<nav id="topnav">
    <div class="maxwidth">
      <ul>
        <li><a href='/blah'>Blah blah</a></li>
      </ul>
    </div>
  </nav>-->

  <div class="maxwidth">
    <main class="content">
      {% block content %}
      {% endblock content %}
    </main>
  </div>

{% if page.extra.footerclass %}
  <footer class="{{ page.extra.footerclass }}">
{% else %}
  <footer>
{% endif %}
    <div class="maxwidth">
      <p>
        <a href="{{ get_url(path="@/about.md", trailing_slash=true) | safe }}#citing-or-acknowledging-one-good-tutorial">Version 0.10.0</a>
        of <a href="{{ get_url(path="", trailing_slash=true) | safe }}">One Good Tutorial</a>,
        © 2025–2026 by
        <a href="https://newton.cx/~peter/">Peter K. G. Williams</a> is licensed
        under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA
        4.0</a>. PKGW’s work on One Good Tutorial was supported by a <a
        href="https://bssw.io/pages/bssw-fellowship-program">Better Scientific
        Software Fellowship</a>. Site generated with <a
        href="https://www.getzola.org/">Zola</a>.
        <a href="https://github.com/pkgw/onegoodtutorial/">Source code.</a>
      </p>
    </div>
  </footer>
</body>

</html>
