{% extends "base.html" %}

{%- macro regular(item, phase, seq) -%}
{% if phase == "p" and item == "synopsis" %}
{% set extraclass=" cl-cell-selected" %}
{% else %}
{% set extraclass="" %}
{% endif %}
<div
  id="cell-{{ phase }}-{{ item }}"
  class="cl-cell{{ extraclass }}"
  data-phase="{{ phase }}"
  data-item="{{ item }}"
  data-seq="{{ seq }}"
>☐</div>
{%- endmacro regular -%}

{% block content %}
<p>The <a href="{{ get_url(path="") | safe }}">One Good Tutorial</a> software
documentation checklist is a matrix. We suggest that you work through each phase
top-to-bottom, before moving from one phase to the next (left to right). But
there’s no reason you can’t skip around!</p>

<div class="checklist">
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="boxcol">Plan</th>
        <th class="boxcol">Draft</th>
        <th class="boxcol">Assess</th>
        <th class="boxcol">Revise</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Synopsis</th>
        <td>{{ self::regular(phase="p", item="synopsis", seq=0) }}</td>
        <td>{{ self::regular(phase="d", item="synopsis", seq=100) }}</td>
        <td>{{ self::regular(phase="a", item="synopsis", seq=200) }}</td>
        <td>{{ self::regular(phase="r", item="synopsis", seq=300) }}</td>
      </tr>
      <tr>
        <th>Personas</th>
        <td>{{ self::regular(phase="p", item="personas", seq=1) }}</td>
        <td>{{ self::regular(phase="d", item="personas", seq=101) }}</td>
        <td>{{ self::regular(phase="a", item="personas", seq=201) }}</td>
        <td>{{ self::regular(phase="r", item="personas", seq=301) }}</td>
      </tr>
      <tr>
        <th>Tutorial</th>
        <td>{{ self::regular(phase="p", item="tutorial", seq=2) }}</td>
        <td>{{ self::regular(phase="d", item="tutorial", seq=102) }}</td>
        <td>{{ self::regular(phase="a", item="tutorial", seq=202) }}</td>
        <td>{{ self::regular(phase="r", item="tutorial", seq=302) }}</td>
      </tr>
      <tr>
        <th>Install Instructions</th>
        <td>{{ self::regular(phase="p", item="installation", seq=3) }}</td>
        <td>{{ self::regular(phase="d", item="installation", seq=103) }}</td>
        <td>{{ self::regular(phase="a", item="installation", seq=203) }}</td>
        <td>{{ self::regular(phase="r", item="installation", seq=303) }}</td>
      </tr>
      <tr>
        <th>Citation Instructions</th>
        <td>{{ self::regular(phase="p", item="citation", seq=4) }}</td>
        <td>{{ self::regular(phase="d", item="citation", seq=104) }}</td>
        <td>{{ self::regular(phase="a", item="citation", seq=204) }}</td>
        <td>{{ self::regular(phase="r", item="citation", seq=304) }}</td>
      </tr>
      <tr>
        <th>License</th>
        <td>{{ self::regular(phase="p", item="license", seq=5) }}</td>
        <td>{{ self::regular(phase="d", item="license", seq=105) }}</td>
        <td>{{ self::regular(phase="a", item="license", seq=205) }}</td>
        <td>{{ self::regular(phase="r", item="license", seq=305) }}</td>
      </tr>
      <tr>
        <th>How to Contribute</th>
        <td>{{ self::regular(phase="p", item="contributing", seq=6) }}</td>
        <td>{{ self::regular(phase="d", item="contributing", seq=106) }}</td>
        <td>{{ self::regular(phase="a", item="contributing", seq=206) }}</td>
        <td>{{ self::regular(phase="r", item="contributing", seq=306) }}</td>
      </tr>
      <tr>
        <th>API Reference</th>
        <td>{{ self::regular(phase="p", item="api-ref", seq=7) }}</td>
        <td>{{ self::regular(phase="d", item="api-ref", seq=107) }}</td>
        <td>{{ self::regular(phase="a", item="api-ref", seq=207) }}</td>
        <td>{{ self::regular(phase="r", item="api-ref", seq=307) }}</td>
      </tr>
      <tr>
        <th>Other Reference</th>
        <td>{{ self::regular(phase="p", item="other-ref", seq=8) }}</td>
        <td>{{ self::regular(phase="d", item="other-ref", seq=108) }}</td>
        <td>{{ self::regular(phase="a", item="other-ref", seq=208) }}</td>
        <td>{{ self::regular(phase="r", item="other-ref", seq=308) }}</td>
      </tr>
      <tr>
        <th>Acknowledgments</th>
        <td>{{ self::regular(phase="p", item="acknowledgments", seq=9) }}</td>
        <td>{{ self::regular(phase="d", item="acknowledgments", seq=109) }}</td>
        <td>{{ self::regular(phase="a", item="acknowledgments", seq=209) }}</td>
        <td>{{ self::regular(phase="r", item="acknowledgments", seq=309) }}</td>
      </tr>
      <tr>
        <th>Authoring Tools</th>
        <td>{{ self::regular(phase="p", item="authoring-tools", seq=10) }}</td>
        <td>{{ self::regular(phase="d", item="authoring-tools", seq=110) }}</td>
        <td>{{ self::regular(phase="a", item="authoring-tools", seq=210) }}</td>
        <td>{{ self::regular(phase="r", item="authoring-tools", seq=310) }}</td>
      </tr>
      <tr>
        <th>Release Process</th>
        <td>{{ self::regular(phase="p", item="release-process", seq=11) }}</td>
        <td>{{ self::regular(phase="d", item="release-process", seq=111) }}</td>
        <td>{{ self::regular(phase="a", item="release-process", seq=211) }}</td>
        <td>{{ self::regular(phase="r", item="release-process", seq=311) }}</td>
      </tr>
    </tbody>
  </table>

  <div class="cl-infoboxes">
    {# the Markdown content provides the hints/explanations for each step #}
    {{ page.content | safe }}
  </div>
</div>

<div class="cl-next-container">
  <div class="cl-button" id="cl-next-button">
    Next
  </div>
</div>

<script>
let cellData = {};
let selectedSeq = 0;

function clickCell(thisSeq) {
  if (selectedSeq != thisSeq) {
    // Selecting a new cell -- (un)checked state does not change
    const oldOne = cellData[selectedSeq];
    const newOne = cellData[thisSeq];

    document.getElementById(newOne.cellId).classList.add("cl-cell-selected");
    document.getElementById(oldOne.cellId).classList.remove("cl-cell-selected");
    document.getElementById(newOne.infoId).classList.add("cl-infobox-shown");
    document.getElementById(oldOne.infoId).classList.remove("cl-infobox-shown");

    selectedSeq = thisSeq;
  } else {
    // Clicked on already-selected cell -- change state
    const curState = cellData[thisSeq];
    const curCell = document.getElementById(curState.cellId);

    if (curState.checked) {
      curCell.innerText = "☐";
    } else {
      curCell.innerText = "✅";
    }

    curState.checked = !curState.checked;
  }
}

function clickNext() {
  let curState = cellData[selectedSeq];
  const curCell = document.getElementById(curState.cellId);
  curCell.innerText = "✅";
  curState.checked = true;

  let nextSeq = curState.nextSeq;

  while (nextSeq !== null) {
    curState = cellData[nextSeq];

    if (!curState.checked) {
      clickCell(nextSeq);
      return;
    }

    nextSeq = curState.nextSeq;
  }
}

// Initialization:
(() => {
  for (const el of document.getElementsByClassName("cl-cell")) {
    cellData[el.dataset.seq] = {
      "prevSeq": null,
      "nextSeq": null,
      "phase": el.dataset.phase,
      "item": el.dataset.item,
      "cellId": `cell-${el.dataset.phase}-${el.dataset.item}`,
      "infoId": `info-${el.dataset.phase}-${el.dataset.item}`,
      "checked": false,
    };
    el.addEventListener(
      "click",
      (event) => clickCell(el.dataset.seq)
    );
  }

  // Basically, build up a linked list between the cells. We give them "seq"
  // numbers to establish the sequence, but allow gaps in the numbering, to make
  // it convenient if we want to add or remove cells.
  const sortedSeqs = Object.keys(cellData).toSorted((a, b) => a - b);
  console.log("K:", sortedSeqs);

  for (let i = 0; i < sortedSeqs.length; i++) {
    if (i > 0) {
      cellData[sortedSeqs[i - 1]].nextSeq = sortedSeqs[i];
      cellData[sortedSeqs[i]].prevSeq = sortedSeqs[i - 1];
    }

    if (i < sortedSeqs.length - 1) {
      cellData[sortedSeqs[i]].nextSeq = sortedSeqs[i + 1];
      cellData[sortedSeqs[i + 1]].prevSeq = sortedSeqs[i];
    }
  }

  document.getElementById("cl-next-button").addEventListener(
    "click",
    clickNext
  );
})();

</script>
{% endblock content %}