{% extends "base.html" %}

{% block content %}
<p class="lede">
  Are you setting up documentation for new piece of software? If so,
  <b>One Good Tutorial</b> aims to help.</p>
</p>

<div class="flex-cards">
  <div class="flex-card">
    <p>✅ Just getting started? Follow the official <b>One Good Tutorial
    checklist</b> and you can be confident that your docs will emerge in good
    shape.</p>

    <div class="button">
      <a href="{{ get_url(path="") | safe }}">Let’s go!</a>
    </div>
  </div>

  <div class="flex-card">
    <p>📖 Along with the checklist, this site provides <b>guidelines and
    links</b> to help you set up your docs with a minimum of fuss.</p>

    <div class="button">
      <a href="{{ get_url(path="") | safe }}">TKTK</a>
    </div>
  </div>
</div>

<p>The big idea behind One Good Tutorial is right there in the name. The OGT
philosophy says: it would be wonderful if every project could have truly great
documentation, but rarely do the stars align to make that kind of outcome
possible. Most of us are going to have to start with documentation that’s “good
enough”. And what’s good enough? <i><b>One good tutorial.</b></i></p>

<p>One Good Tutorial was developed specifically to support the authors of
scientific software, but we hope that it will be helpful to people who work on
all kinds of technical projects.</p>
{% endblock content %}