{% extends "base.html" %}

{% block content %}
<p class="lede">
  Are you setting up documentation for new piece of scientific software? If so,
  make sure to include <b>One Good Tutorial</b>.
</p>

<p class="lede">
  But you don’t need much more than that. According to the <b>One Good Tutorial
  software documentation checklist</b> (version 1.0), your documentation is good
  enough if it contains these eight major items:
</p>

<div class="checklist">
  <table>
    <tr><td><input type="checkbox" /></td><td>🗺️ <b><a href="/in-depth/synopsis/">Synopsis</a>:</b> 1–3 sentence summary of your project</td></tr>
    <tr><td><input type="checkbox" /></td><td>📑 <b><a href="/in-depth/tutorial-planning/">Tutorial</a>:</b> ✨ Show people what your software can do! ✨</td></tr>
    <tr><td><input type="checkbox" /></td><td>🚀 <b><a href="/in-depth/installation-instructions/">Install Instructions</a>:</b> How to install your software</td></tr>
    <tr><td><input type="checkbox" /></td><td>📜 <b><a href="/in-depth/software-citation/">Citation Instructions</a>:</b> How to cite your software</td></tr>
    <tr><td><input type="checkbox" /></td><td>🙌 <b><a href="/in-depth/contribution-statements/">Contribution Statement</a>:</b> How users can contribute to your project</td></tr>
    <tr><td><input type="checkbox" /></td><td>📚 <b><a href="/in-depth/reference-material/">Reference Material</a>:</b> Precise specifications of APIs, etc.</td></tr>
    <tr><td><input type="checkbox" /></td><td>⚖️ <b><a href="/in-depth/licensing-statements/">Licensing Statement</a>:</b> The legal status of your code</td></tr>
    <tr><td><input type="checkbox" /></td><td>🙏 <b><a href="/in-depth/acknowledgments/">Acknowledgments</a>:</b> Credit your funders</td></tr>
  </table>
</div>

<p>
  The philosophy of One Good Tutorial is that while it would be wonderful if
  every project could have great docs, most new projects realistically have to
  aim for <i>good enough</i>. And what’s <i>good enough</i>? One good tutorial,
  and the bare minimum of everything else. Write that minimum and go get your
  project out into the world! You can always add more later.
</p>

<div class="flex-cards">
  <div class="flex-card">
    <p>📒 The <b>One Good Tutorial Playbook</b> walks you through a
    tried-and-true workflow to prepare these eight items with a minimum of
    angst.</p>

    <div class="button">
      <a href="{{ get_url(path="@/playbook.md") | safe }}">Let’s go!</a>
    </div>
  </div>

  <div class="flex-card">
    <p>🗃️ Along with the playbook, this site provides <b>in-depth guides and
    links</b> to help you along your documentation journey.</p>

    <div class="button">
      <a href="{{ get_url(path="@/in-depth/index.md") | safe }}">Guide Index</a>
    </div>
  </div>
</div>

<p>One Good Tutorial was developed specifically to support the authors of
scientific software, but we hope that it will be helpful to people who work on
all kinds of technical projects.</p>

{% endblock content %}